<div id="<%= dom_id child %>">
  <p>
    <strong>Name:</strong>
    <%= child.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= child.age %>
  </p>
  <p>
    <strong>contact:</strong>
    <%= child.contact %>
  </p>

  <p>
    <strong>Parent Name:</strong>
    <%= child.parent_name %>
  </p>
  <p>
    <strong>Adress:</strong>
    <%= child.address %>
  </p>
  <p>
    <strong>Gender:</strong>
    <%= child.gender %>
  </p>
  <p>
    <strong>Grade:</strong>
    <%= child.grade %>
  </p>

  

</div>
