<%= form_with(model: child) do |form| %>
  <% if child.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
        <% child.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :Address, style: "display: block" %>
     <%= form.text_field :address, value: current_user.address %>
</div>
  <div>
    <%= form.label :Parent_Name, style: "display: block" %>
    <%= form.text_field :parent_name, value: current_user.name,  readonly: true %>
  </div>
  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number, value: current_user.phone_number, readonly: true%>
  </div>
  <div>
    <%= form.label :enrollment_date, style: "display: block" %>
    <%= form.text_field :enrollment_date, value: Time.now, readonly: true %>
  </div>
 <div>
  <%= form.label :gender, style: "display: block" %>
  <%= form.select :gender, [['Male', 'male'], ['Female', 'female']] %>
</div>


  <div>
    <%= form.label :age, style: "display: block" %>
  
  <%= form.select :age, (6..12).to_a %>
   
  </div>

  <div>
    <%= form.label :grade, style: "display: block" %>
     <%= form.select :grade, options_for_select((1..5).map { |n| [n.ordinalize, n] }) %>
  </div><br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
