<%= form_with model: [@pod, @comment], url: pod_comments_path(@pod) do |form| %>
  <%= form.hidden_field :child_id, value: @child_id %>
  
  <div class="field">
    <%= form.label :commenter %>
     <%= form.text_area :commenter %>
  
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
