
<div style = "color: black ; text-align:center ">
<h1 style = "color: red ;  font-size:44px">Get School House</h1>
<h2> Right place to secure your <strong>"Child's Future"</strong></h2>
<h2> No need to worry about your child's acadmic session <br><br>
We are here to serve you with <strong>"Get School House"</strong> micro school system</h2>
<h2>Find pods for studying Near to your home</h2>
<h2>'Be Carefull'  'Be healthy' 'Be Safe'</h2>
</div>
<%= form_tag(pods_path, method: :get, class: "search-form") do %>
  <%= text_field_tag(:search, params[:search], placeholder: "Search by name, address, or grade") %>
  <%= submit_tag("Search") %>
<% end %>




<h1>All Pods</h1>

<ul>
  <% @pods.each do |pod| %>
    <%= render pod %>
    <p>
      <%= link_to "Show this pod", pod %>
    </p>
  <% end %>
</ul>

