 <body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
    <main id="main">
      <section id="hero" class="hero">
       <%= image_tag('child2.jpg', alt: '', data: { aos: 'fade-in' }) %>


        <div class="container">
          <div class="row">
            <div class="col-lg-20">
           <h2 style="color: #f2f2ed; text-shadow: 2px 2px 4px #000;">
             <strong>"Get School House"</strong>
           </h2> 
              <p>
             Right place to secure your <strong>"Child's Future"</strong>
              </p>
              <p> No need to worry about your child's acadmic session <br>
                We are here to serve you with <strong>"Get School House"</strong> micro school system</p>
               <p>Find pods for studying Near to your home</p><br>
            <h2><strong>'Be Carefull'  'Be healthy' 'Be Safe'</strong></h2>
            </div>

            <div class="col-lg-6">
            <br>
            <%= form_tag(pods_path, method: :get, class: "sign-up-form d-flex") do %>
            <%= text_field_tag(:search, params[:search], placeholder: "Search by Name, address, zip_code, grade 1 to 5", class: "form-control") %>
            <%= submit_tag("Search", class: "btn btn-dark") %>
            <% end %>
          </div>
          </div>
        </div>
       </section>
       <%=  render "pods/carousel"%>
       </main>

    
    <footer id="footer" class="footer">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>Get school System</span>
            </a>
            <p>Right place to secure your <strong>"Child's Future"</strong>
            <br> No need to worry about your child's acadmic session <br>
            We are here to serve you with<br> <strong>"Get School House"</strong> micro school system
            Find pods for studying Near to your home</p>
        <div class="social-links d-flex mt-4">
          <%= link_to '', '', class: 'bi bi-twitter' %>
          <%= link_to '', '', class: 'bi bi-facebook' %>
          <%= link_to '', '', class: 'bi bi-instagram' %>
          <%= link_to '', '', class: 'bi bi-linkedin' %>
      </div>
         </div>


          <div class="col-lg-2 col-6 footer-links">
  <h4>Useful Links</h4>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About us', about_path %></li>
    <li><%= link_to 'Services', services_path %></li>
    <li><%= link_to 'Terms of service', term_of_services_path %></li>
    <li><%= link_to 'Privacy policy', privacy_policy_path %></li>
  </ul>
</div>

<div class="col-lg-2 col-6 footer-links">
  <h4>Our Services</h4>
  <ul>
    <li>Micro School</li>
    <li>Pod Creation</li>
    <li>School managnent</li>
    <li>Marketing</li>
  </ul>
</div>

<div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
  <h4>Contact Us</h4>
  <p>A108 Adam Street</p>
  <p>New York, NY 535022</p>
  <p>United States</p>
  <p class="mt-4">
    <strong>Phone:</strong> <span>+1 5589 55488 55</span>
  </p>
  <p><strong>Email:</strong> <span>info@example.com</span></p>
</div>

      <div class="container copyright text-center mt-4">
        <p>
          &copy; <span>Copyright</span> <strong class="px-1">Getschoolsystem</strong>
          <span>All Rights Reserved</span>
        </p>
      </div>
    </footer>
     <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>