<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Qualififcation:</strong>
    <%= teacher.qualififcation %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= teacher.grade %>
  </p>
  <p>
    <strong>Assinged Pod:</strong>
    <% if  teacher.pod.presence %>
    <%= teacher.pod.name %>
    <% else%>
    Not Assigned
  </p>
<% end %>
</div>
