<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= teacher.gender %>
  </p>
  <p>
    <strong>Grade:</strong>
    <%= teacher.grade %>
  </p>
  <p>
  <p>
    <strong>email:</strong>
    <%= teacher.email %>
  </p>
    <strong>Qualififcation:</strong>
    <%= teacher.qualififcation %>
  </p>

  <p>
    <strong>languages_known:</strong>
    <%= teacher.languages_known %>
  </p>
  <p>
    <strong>avatar:</strong>
    <%= teacher.avatar %>
  </p>
  <p>
    <strong>experince:</strong>
    <%= teacher.experince %>
  </p>
  <p>
    <strong>Assinged Pod:</strong>
    <% if  teacher.pod.present? %>
     <%= link_to teacher.pod.name, pod_path(teacher.pod) %>
    <% else%>
    Not Assigned
  </p>
<% end %>
</div>
