<p style="color: green"><%= notice %></p>

<%= render @teacher %>

<div>
 
  <%= link_to "Back to teachers", teachers_path %>
<%if admin_signed_in?%>
  
  <%= link_to "Edit this teacher", edit_teacher_path(@teacher) %> |

  <%= button_to "Destroy this teacher", @teacher, method: :delete %>
  <% end %>
</div>
