<div id="<%= dom_id pod %>">
  <p>
    <strong>Name:</strong>
    <%= pod.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= pod.address %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= pod.grade %>
  </p>

  <p>
    <strong>ZipCode:</strong>
    <%= pod.zip_code %>
  </p>

  <% if pod.teacher.present? %>
    <p>
      <strong>Assigned Teacher:</strong>
      <% if user_signed_in?%>
       <%= link_to pod.teacher.name, teacher_path(pod.teacher) %>
      <% else %>
      <%= pod.teacher.name %>
     </p>
  <% end %>
  <% end %>


</div>
