<%
=begin%>
 <p style="color: green"><%= notice %></p> 
<%
=end%>
 <section class="margin-header pod_hero">
  <%= image_tag('child.jpg', alt: '', data: { aos: 'fade-in' }) %>
  <div class="container">
  <%= render "search" %>
          <div class="row">
            <div class="col-lg-20">
  <h1 style= "color:red">Pods</h1>
  <% @pods.each do |pod| %>
    <% if pod.active? %>
      <p>
        <strong>Name:</strong>
        <%= pod.name %>
      </p>
      <p>
        <strong>Grade:</strong>
        <%= pod.grade %>
      </p>
      <p >
        <%= link_to "Show this pod", pod, style: "color:red" %>
      </p>
    <% end %>
  <% end %>
  </div>
  </div>
  </div>
  </section>
  
