<p style="color: green"><%= notice %></p>

  <%= link_to "All pods", pods_path %><br><br>
<div>
<%= render @pod %>

<% if current_user %>
<%= form_with(model: @pod_request, url: pod_requests_path, method: :post) do |form| %>
  <%= form.hidden_field :pod_id, value: @pod.id %>

  <%= form.label :child_id, 'Select Child' %>
 <%= form.collection_select(:child_id, current_user.children.where(grade: @pod.grade), :id, :name, prompt: 'Select a Child') %>
 <%= form.submit 'Apply for Pod' %>
<% end %>
<% else%>
<p>please sign in  to apply for this pod</p>
<% end%>

<% if @approved_children.any? %>
  <h2>Children in this Pod:</h2>
  <% @approved_children.each do |child| %>
    <p>Name: <%= child.name %></p>
    
  <% end %>
<% else %>
  <p>No children found for this pod.</p>
<% end %>



  </div><br>