<p style="color: green">
    <%= notice %>
</p>
<div class= "margin-header">
<div class="margin-header" style="background-color: #f2f2f2">
<%= link_to "All pods", pods_path %><br><br>
<div>
<%= render @pod %>
<%= render "children_count"%>
<% if user_signed_in?%>
<%= render "apply_pod"%>
  <%else%>
 <h3>please sign in  to apply for this pod</h3>  
</div>
<%end%> 
<%= render "reviews/review" %>
  <% if user_signed_in? && current_user.children.exists?(id: @pod.approved_children.pluck(:id)) %>
  <%= render "reviews/review_form" %>
<%end%>