<p style="color: green">
    <%= notice %>
</p>
<%= link_to "All pods", pods_path %><br><br>
<div>
<%= render @pod %>
<%= render "comments/comment" %>
<% if user_signed_in?%>
  
<% if current_user.children.exists?(id: @pod.child_ids)%>


<% if @pod.pod_requests.exists?(status: 'approved') %>

<%= render "comments/comment_form" %>
<%end%>
<br>
<strong> Already applied for this Pod </strong>
<%else%>
 <%= render "apply_pod"%>
<%end%>
 
 <%else%>
 <h3>please sign in  to apply for this pod</h3>  

<%end%> 

</div>
<%= render "children_count"%>