<%= form_with model: [@pod, @review], url: pod_reviews_path(@pod) do |form| %>
  <%= form.hidden_field :child_id, value: @child_id %>
  
  <%= form.hidden_field :name, value: current_user.name %>
  
  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
